<!DOCTYPE html>
<html lang="zxx">

<head>
<span th:insert="pages/head"></span>
</head>

<body>
		<span th:insert="pages/navbarAdmin">  </span>
        <div class="container">
        <div class="row">
        	<div style="height: 50px;"></div>
        </div>
            <div class="row">
            
                <div class="col-lg-12">
                
                <div class="section-title">
                    <h2 >Bem vindo a Administração do seu site</h2>
                </div>

						<div class="row">
						  <div class="col-sm-6">
						    <div class="card">
						      <div class="card-body">
						        <h5 class="card-title">Produtos</h5>
						        <p class="card-text">Consulte, altere e inclua novos produtos.</p>
						        <a href="#" class="btn btn-primary">Cadastrar novo</a> &nbsp; <a href="/admin/listarProdutos" class="btn btn-primary">Lista</a>
						      </div>
						    </div>
						  </div>
						  <div class="col-sm-6">
						    <div class="card">
						      <div class="card-body">
						        <h5 class="card-title">Usuários</h5>
						        <p class="card-text">Saiba quem são seus clientes.</p>
						        <a href="#" class="btn btn-primary">Cadastrar novo</a> &nbsp; <a href="#" class="btn btn-primary">Lista</a>
						      </div>
						    </div>
						  </div>
						</div>
						
						<div class="row" style="height: 50px;"></div> 
						
                		<div class="row">
						  <div class="col-sm-6">
						    <div class="card">
						      <div class="card-body">
						        <h5 class="card-title">Categorias</h5>
						        <p class="card-text">Adicione, altere ou exclua categorias de produtos.</p>
						        <a href="#" class="btn btn-primary">Cadastrar nova</a> &nbsp; <a href="#" class="btn btn-primary">Lista</a>
						      </div>
						    </div>
						  </div>
						  <div class="col-sm-6">
						    <div class="card">
						      <div class="card-body">
						        <h5 class="card-title">Vendas</h5>
						        <p class="card-text">Saiba como foram suas vendas.</p>
						        <a href="#" class="btn btn-primary">Hoje</a> &nbsp; <a href="#" class="btn btn-primary">30 dias</a>
						         &nbsp; <a href="#" class="btn btn-primary">60 dias</a> &nbsp; <a href="#" class="btn btn-primary">90 dias</a>
						        &nbsp; <a href="#" class="btn btn-primary">180 dias</a> &nbsp; <a href="#" class="btn btn-primary">365 dias</a>
						      </div>
						    </div>
						  </div>
						</div>
						
						<div class="row" style="height: 50px;"></div> 
		                <div class="row">
						  <div class="col-sm-6">
						    <div class="card">
						      <div class="card-body">
						        <h5 class="card-title">Site</h5>
						        <p class="card-text">Visite seu site ou acompanhe as estatísticas.</p>
						        <a href="#" class="btn btn-primary">Visitar o site</a> &nbsp; <a href="#" class="btn btn-primary">Estatísticas</a>
						      </div>
						    </div>
						  </div>
						 
						</div>
                </div>
               
                </div>
            </div>
        </div>
<!-- Js Plugins -->
<span th:insert="pages/scriptsjs">  </span>
</body>
	
</html>