<!DOCTYPE html>
<html lang="zxx">

<head>
<span th:insert="pages/head"></span>

<script>
	function setarValor(id){
		document.getElementById("idUsuario").value = id;
		document.form1.submit();
	}
</script>


</head>

<body>
		<span th:insert="pages/navbarAdmin">  </span>

        <div class="container">
        
        <div class="row">
        	<div style="height: 50px;"></div>
        </div>
            <div class="row">
            
                <div class="col-lg-12">
                <span th:insert="pages/mensagem"></span>
                	      <!-- Checkout Section Begin -->
						    <section class="checkout spad">
						        <div class="container">
						            <div class="checkout__form">
						                <h4>Usuários cadastrados</h4>
						                <form name="form1" th:action="@{alteraProduto}" method="get" >
						                	<input type="hidden" id="idUsuario" name="idUsuario" value="">
						                    <div class="row">
						                        <div class="col-lg-12 col-md-6">
						                            
						                            
						                            <div class="shoping__cart__table">
								                   	 <div class="row featured__filter"> 
								                   	 
								                   	 <table>
						                            	<thead>
						                            		<tr>
						                            			<th>Id</th>
												                <th>Nome</th>
												                <th>CPF</th>
												                <th>E-mail</th>
												                <th>Sexo</th>
												                <th>Estado</th>
												                <th>Última compra</th>
												                <th>#</th>
						                            		</tr>
						                            	</thead>
						                            	<tbody>
						                            		<tr th:each="usuario : ${usuarios}">
						                            			<td th:text="${usuario.idUsuario}"></td>
						                            			<td th:text="${usuario.nome}"></td>
						                            			<td th:text="${usuario.cpf}"></td>
						                            			<td th:text="${usuario.email}"></td>
						                            			<td th:text="${usuario.sexo}"></td>
						                            			<td th:text="${usuario.estado}"></td>
						                            			<td ><a title="Alterar informações do usuário" style="color: navy; !important" th:href="'javascript:setarValor(\'' + ${usuario.idUsuario} + '\');'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
						                            			<td> </td>
						                            		</tr>
						                            	</tbody>		
								                   	 
						                            </table>
						                        </div>
						                    </div>
						                    
						                     </div>
						                    </div>
						                </form>
						            </div>
						        </div>
						    </section>
						    <!-- Checkout Section End -->
                </div>
            </div>
        </div>

<!-- Js Plugins -->
<span th:insert="pages/scriptsjs">  </span>
</body>

</html>