<!DOCTYPE html>
<html lang="zxx">

<head>
<span th:insert="pages/head"></span>

<script>
	function setarValor(id){
		document.getElementById("idCategoria").value = id;
		document.form1.submit();
	}
</script>


</head>

<body>
		<span th:insert="pages/navbarAdmin">  </span>

        <div class="container">
        
        <div class="row">
        	<div style="height: 50px;"></div>
        </div>
            <div class="row">
            
                <div class="col-lg-12">
                <span th:insert="pages/mensagem"></span>
                	      <!-- Checkout Section Begin -->
						    <section class="checkout spad">
						        <div class="container">
						            <div class="checkout__form">
						                <h4>Categorias cadastradas</h4>
						                <form name="form1" th:action="@{alteraCategoria}" method="get" >
						                	<input type="hidden" id="idCategoria" name="idCategoria" value="">
						                    <div class="row">
						                        <div class="col-lg-12 col-md-6">
						                            
						                            
						                            <div class="shoping__cart__table">
								                   	 <div class="row featured__filter"> 
								                   	 
								                   	 <table>
						                            	<thead>
						                            		<tr>
						                            			<th>Id</th>
												                <th>Nome</th>
												                <th>Ativo</th>
												                <th>#</th>
						                            		</tr>
						                            	</thead>
						                            	<tbody>
						                            		<tr th:each="categoria : ${categorias}">
						                            			<td th:text="${categoria.id}"></td>
						                            			<td th:text="${categoria.nome}"></td>
						                            			<td th:text="${categoria.ativo}"></td>
						                            			<td ><a title="Alterar informações da categoria" style="color: navy; !important" th:href="'javascript:setarValor(\'' + ${categoria.id} + '\');'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
						                            			<td> </td>
						                            		</tr>
						                            	</tbody>		
								                   	 
						                            </table>
						                        </div>
						                    </div>
						                    
						                     </div>
						                    </div>
						                </form>
						            </div>
						        </div>
						    </section>
						    <!-- Checkout Section End -->
                </div>
            </div>
        </div>

<!-- Js Plugins -->
<span th:insert="pages/scriptsjs">  </span>
</body>

</html>