<div class="hero__search">
    <div class="hero__search__form">
        <form action="#">

            <input type="text" placeholder="O que você procura?">
            <button type="submit" class="site-btn">Pesquisar</button>
        </form>
    </div>
    <div class="hero__search__phone">
        <div class="hero__search__phone__icon">
            <i class="fa fa-phone"></i>
        </div>
        <div class="hero__search__phone__text">
            <h5>61.99999.8888</h5>
            <span>Fale conosco</span>
        </div>
    </div>
</div>